extends layout

block content
  script(src='/javascripts/clientApp.js')
  h1= title
  p Welcome to #{title}
  
  form
    input(type="text" id="username" placeholder="username")
  
  div(id="container")
    input(type="button" class="button" value="1")
    input(type="button" class="button" value="2")
    input(type="button" class="button" value="3")
    input(type="button" class="button" value="4")
    input(type="button" class="button" value="5")