extends layout

block content
  script(src='/javascripts/clientApp.js')
  div(id="welcome")
  div(id="estDisp") Waiting for vote to start
  
  div(id="container")
    div(class="line")
      input(type="button" class="button" value="?")
    div(class="line")
      input(type="button" class="button" value="0")
      input(type="button" class="button" value="1/2")
      input(type="button" class="button" value="1")
      input(type="button" class="button" value="2")
    div(class="line")
      input(type="button" class="button" value="3")
      input(type="button" class="button" value="5")
      input(type="button" class="button" value="8")
      input(type="button" class="button" value="13")
    div(class="line")      
      input(type="button" class="button" value="20")
      input(type="button" class="button" value="40")
      input(type="button" class="button" value="100")
      input(type="button" class="button" value="inf")