extends layout

block content
  h1= title
  h3 Tim Bucher :: ITI 205
  ul
    li
      a(href="/host") Create Host Room
    li
      form(action="/client" method="get")
        input(type="text" id="username" name="username" placeholder="username")
        input(type="submit" value="Make Estimate")
    