extends layout

block content
  h1= title
  h3 Tim Bucher :: ITI 205
  ul
    li
      a(href="/host") Create Vote Room
    li
      form(action="/client" method="get")
        input(type="text" id="username" name="username" placeholder="User Name")
        input(type="submit" value="Create user")